## Practical 2 - Data Wrangling
by - Aditya Kumar Jaiswal
TE- 1, ERP-01

1.  Scan all variables for missing values and inconsistencies. If there are missing values and/or inconsistencies, use any of the suitable techniques to deal with them.

In [4]:
import pandas as pd

In [ ]:
df = pd.read_csv('Automobile_data.csv')

In [ ]:
df.head()

   index      company   body-style  ...  horsepower  average-mileage    price
0      0  alfa-romero  convertible  ...         111               21  13495.0
1      1  alfa-romero  convertible  ...         111               21  16500.0
2      2  alfa-romero    hatchback  ...         154               19  16500.0
3      3         audi        sedan  ...         460               24  13950.0
4      4         audi        sedan  ...         115               18  17450.0

[5 rows x 10 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             63 non-null     int64
 1   company           63 non-null     object
 2   body-style        63 non-null     object
 3   wheel-base        63 non-null     float64
 4   length            63 non-null     float64
 5   engine-type       62 non-null     object
 6   num-of-cylinders  62 non-null     object
 7   horsepower        63 non-null     int64
 8   average-mileage   63 non-null     int64
 9   price             60 non-null     float64
dtypes: float64(3), int64(3), object(4)
memory usage: 5.0+ KB

In [ ]:
df.isnull()

    index  company  body-style  ...  horsepower  average-mileage  price
0   False    False       False  ...       False            False  False
1   False    False       False  ...       False            False  False
2   False    False       False  ...       False            False  False
3   False    False       False  ...       False            False  False
4   False    False       False  ...       False            False  False
..    ...      ...         ...  ...         ...              ...    ...
58  False    False       False  ...       False            False  False
59  False    False       False  ...       False            False  False
60  False    False       False  ...       False            False  False
61  False    False       False  ...       False            False  False
62  False    False       False  ...       False            False  False

[63 rows x 10 columns]

In [ ]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
58    False
59    False
60    False
61     True
62     True
Length: 63, dtype: bool

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 58 entries, 0 to 62
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             58 non-null     int64
 1   company           58 non-null     object
 2   body-style        58 non-null     object
 3   wheel-base        58 non-null     float64
 4   length            58 non-null     float64
 5   engine-type       58 non-null     object
 6   num-of-cylinders  58 non-null     object
 7   horsepower        58 non-null     int64
 8   average-mileage   58 non-null     int64
 9   price             58 non-null     float64
dtypes: float64(3), int64(3), object(4)
memory usage: 5.0+ KB

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56 entries, 0 to 60
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             56 non-null     int64
 1   company           56 non-null     object
 2   body-style        56 non-null     object
 3   wheel-base        56 non-null     float64
 4   length            56 non-null     float64
 5   engine-type       56 non-null     object
 6   num-of-cylinders  56 non-null     object
 7   horsepower        56 non-null     int64
 8   average-mileage   56 non-null     int64
 9   price             56 non-null     float64
dtypes: float64(3), int64(3), object(4)
memory usage: 4.8+ KB

2. Scan all numeric variables for outliers. If there are outliers, use any of the suitable techniques to deal with them

In [ ]:
df

    index        company   body-style  ...  horsepower  average-mileage    price
0       0    alfa-romero  convertible  ...         111               21  13495.0
1       1    alfa-romero  convertible  ...         111               21  16500.0
2       2    alfa-romero    hatchback  ...         154               19  16500.0
3       3           audi        sedan  ...         460               24  13950.0
4       4           audi        sedan  ...         115               18  17450.0
5       5           audi        sedan  ...         110               19  15250.0
6       6           audi        wagon  ...         110               19  18920.0
7       9            bmw        sedan  ...         101               23  16430.0
8      10            bmw        sedan  ...         101               23  16925.0
9      11            bmw        sedan  ...         121               21  20970.0
10     13            bmw        sedan  ...         182               16  30760.0
11     14            bmw        sedan  ...         182               16  41315.0
12     15            bmw        sedan  ...         182               15  36880.0
14     17      chevrolet    hatchback  ...          70               38   6295.0
15     18      chevrolet        sedan  ...          70               38   6575.0
16     19          dodge    hatchback  ...          68               31   6377.0
17     20          dodge    hatchback  ...          68               31   6229.0
18     27          honda        wagon  ...          76               30   7295.0
19     28          honda        sedan  ...         101               24  12945.0
20     29          honda        sedan  ...         100               25  10345.0
21     30          isuzu        sedan  ...          78               24   6785.0
24     33         jaguar        sedan  ...         176               15  32250.0
25     34         jaguar        sedan  ...         176               15  35550.0
26     35         jaguar        sedan  ...         262               13  36000.0
27     36          mazda    hatchback  ...          68               30   5195.0
28     37          mazda    hatchback  ...          68               31   6095.0
29     38          mazda    hatchback  ...          68               31   6795.0
30     39          mazda    hatchback  ...         101               17  11845.0
31     43          mazda        sedan  ...          72               31  18344.0
32     44  mercedes-benz        sedan  ...         123               22  25552.0
33     45  mercedes-benz        wagon  ...         123               22  28248.0
34     46  mercedes-benz        sedan  ...         184               14  40960.0
35     47  mercedes-benz      hardtop  ...         184               14  45400.0
36     49     mitsubishi    hatchback  ...          68               37   5389.0
37     50     mitsubishi    hatchback  ...         300               31   6189.0
38     51     mitsubishi        sedan  ...          88               25   6989.0
39     52     mitsubishi        sedan  ...          88               25   8189.0
40     53         nissan        sedan  ...          55               45   7099.0
41     54         nissan        sedan  ...          69               31   6649.0
42     55         nissan        sedan  ...          69               31   6849.0
43     56         nissan        wagon  ...          69               31   7349.0
44     57         nissan        sedan  ...         152               19  13499.0
45     61        porsche      hardtop  ...         207               17  34028.0
46     62        porsche  convertible  ...         207               17  37028.0
48     66         toyota    hatchback  ...          62               35   5348.0
49     67         toyota    hatchback  ...          62               31   6338.0
50     68         toyota    hatchback  ...          62               31   6488.0
51     69         toyota        wagon  ...          62               31   6918.0
52     70         toyota        wagon  ...          62               27   7898.0
53     71         toyota        wagon  ...          62               27   8778.0
54     79         toyota        wagon  ...         156               19  15750.0
55     80     volkswagen        sedan  ...          52               37   7775.0
57     82     volkswagen        sedan  ...          52               37   7995.0
58     86     volkswagen        sedan  ...         100               26   9995.0
59     87          volvo        sedan  ...         114               23  12940.0
60     88          volvo        wagon  ...         114               23  13415.0

[56 rows x 10 columns]

In [ ]:
for x in df.index:
  if df.loc[x, "horsepower"] > 250:
    df.drop(x, inplace=True)

In [ ]:
df

    index        company   body-style  ...  horsepower  average-mileage    price
0       0    alfa-romero  convertible  ...         111               21  13495.0
1       1    alfa-romero  convertible  ...         111               21  16500.0
2       2    alfa-romero    hatchback  ...         154               19  16500.0
4       4           audi        sedan  ...         115               18  17450.0
5       5           audi        sedan  ...         110               19  15250.0
6       6           audi        wagon  ...         110               19  18920.0
7       9            bmw        sedan  ...         101               23  16430.0
8      10            bmw        sedan  ...         101               23  16925.0
9      11            bmw        sedan  ...         121               21  20970.0
10     13            bmw        sedan  ...         182               16  30760.0
11     14            bmw        sedan  ...         182               16  41315.0
12     15            bmw        sedan  ...         182               15  36880.0
14     17      chevrolet    hatchback  ...          70               38   6295.0
15     18      chevrolet        sedan  ...          70               38   6575.0
16     19          dodge    hatchback  ...          68               31   6377.0
17     20          dodge    hatchback  ...          68               31   6229.0
18     27          honda        wagon  ...          76               30   7295.0
19     28          honda        sedan  ...         101               24  12945.0
20     29          honda        sedan  ...         100               25  10345.0
21     30          isuzu        sedan  ...          78               24   6785.0
24     33         jaguar        sedan  ...         176               15  32250.0
25     34         jaguar        sedan  ...         176               15  35550.0
27     36          mazda    hatchback  ...          68               30   5195.0
28     37          mazda    hatchback  ...          68               31   6095.0
29     38          mazda    hatchback  ...          68               31   6795.0
30     39          mazda    hatchback  ...         101               17  11845.0
31     43          mazda        sedan  ...          72               31  18344.0
32     44  mercedes-benz        sedan  ...         123               22  25552.0
33     45  mercedes-benz        wagon  ...         123               22  28248.0
34     46  mercedes-benz        sedan  ...         184               14  40960.0
35     47  mercedes-benz      hardtop  ...         184               14  45400.0
36     49     mitsubishi    hatchback  ...          68               37   5389.0
38     51     mitsubishi        sedan  ...          88               25   6989.0
39     52     mitsubishi        sedan  ...          88               25   8189.0
40     53         nissan        sedan  ...          55               45   7099.0
41     54         nissan        sedan  ...          69               31   6649.0
42     55         nissan        sedan  ...          69               31   6849.0
43     56         nissan        wagon  ...          69               31   7349.0
44     57         nissan        sedan  ...         152               19  13499.0
45     61        porsche      hardtop  ...         207               17  34028.0
46     62        porsche  convertible  ...         207               17  37028.0
48     66         toyota    hatchback  ...          62               35   5348.0
49     67         toyota    hatchback  ...          62               31   6338.0
50     68         toyota    hatchback  ...          62               31   6488.0
51     69         toyota        wagon  ...          62               31   6918.0
52     70         toyota        wagon  ...          62               27   7898.0
53     71         toyota        wagon  ...          62               27   8778.0
54     79         toyota        wagon  ...         156               19  15750.0
55     80     volkswagen        sedan  ...          52               37   7775.0
57     82     volkswagen        sedan  ...          52               37   7995.0
58     86     volkswagen        sedan  ...         100               26   9995.0
59     87          volvo        sedan  ...         114               23  12940.0
60     88          volvo        wagon  ...         114               23  13415.0

[53 rows x 10 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53 entries, 0 to 60
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             53 non-null     int64
 1   company           53 non-null     object
 2   body-style        53 non-null     object
 3   wheel-base        53 non-null     float64
 4   length            53 non-null     float64
 5   engine-type       53 non-null     object
 6   num-of-cylinders  53 non-null     object
 7   horsepower        53 non-null     int64
 8   average-mileage   53 non-null     int64
 9   price             53 non-null     float64
dtypes: float64(3), int64(3), object(4)
memory usage: 7.1+ KB

3. Apply data transformations on at least one of the variables. The purpose of this transformation should be one of the following reasons: to change the scale for better understanding of the variable, to convert a non-linear relation into a linear one, or to decrease the skewness and convert the distribution into a normal distribution.

In [5]:
df2 = pd.read_csv("cars.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'cars.csv'

### Converting mpg to kmpl

In [ ]:
df2.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [ ]:
df2["Unnamed: 0"]

0               Mazda RX4
1           Mazda RX4 Wag
2              Datsun 710
3          Hornet 4 Drive
4       Hornet Sportabout
5                 Valiant
6              Duster 360
7               Merc 240D
8                Merc 230
9                Merc 280
10              Merc 280C
11             Merc 450SE
12             Merc 450SL
13            Merc 450SLC
14     Cadillac Fleetwood
15    Lincoln Continental
16      Chrysler Imperial
17               Fiat 128
18            Honda Civic
19         Toyota Corolla
20          Toyota Corona
21       Dodge Challenger
22            AMC Javelin
23             Camaro Z28
24       Pontiac Firebird
25              Fiat X1-9
26          Porsche 914-2
27           Lotus Europa
28         Ford Pantera L
29           Ferrari Dino
30          Maserati Bora
31             Volvo 142E
Name: Unnamed: 0, dtype: object

In [ ]:
df2.rename(columns = {"Unnamed: 0": "car_name"}, inplace = True)

In [2]:
df2.head()

NameError: name 'df2' is not defined

In [ ]:
df2.rename(columns = {"mpg": "kmpl"}, inplace = True)

In [1]:
# for x in df.index:
#   if df.loc[x, "horsepower"] > 250:
#     df.drop(x, inplace=True)

df3 = df2

NameError: name 'df2' is not defined

In [ ]:
df3['index'] = range(0, len(df2))

In [ ]:
df3.head()

,car_name,kmpl,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,index
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,0
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,1
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,2
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,3
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,4

In [ ]:
df3.set_index("index")

,car_name,kmpl,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
index,,,,,,,,,,,,
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [ ]:
# for x in df.index:
#   if df.loc[x, "horsepower"] > 250:
#     df.drop(x, inplace=True)

for x in df3.index:
  val = df3.loc[x, "kmpl"]/2.352
  df3.at[x, "kmpl"] = val

In [ ]:
df3.head()

,car_name,kmpl,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,index
0,Mazda RX4,8.928571,6,160.0,110,3.90,2.620,16.46,0,1,4,4,0
1,Mazda RX4 Wag,8.928571,6,160.0,110,3.90,2.875,17.02,0,1,4,4,1
2,Datsun 710,9.693878,4,108.0,93,3.85,2.320,18.61,1,1,4,1,2
3,Hornet 4 Drive,9.098639,6,258.0,110,3.08,3.215,19.44,1,0,3,1,3
4,Hornet Sportabout,7.950680,8,360.0,175,3.15,3.440,17.02,0,0,3,2,4